@use "vectorMap.scss";

.tab-pane {
  height: 95vh;
  overflow: auto;
  #map {
    height: calc(100% - 60px);
  }
  #work-canvas1,
  #work-canvas2 {
    border: 1px solid black;
    margin: 10px;
  }

  .tab {
    height: 100%;
    overflow: auto;
  }
}

.chizu-controller {
  margin: 10px;
  padding: 10px;
  border: solid 1px black;

  .c-row {
    margin: 5px;
    border-bottom: solid 1px black;
    > div.title {
      font-weight: bold;
      background-color: #ddd;
    }
    > div {
      margin: 2px 5px;
    }
    div {
      display: inline-block;
    }
  }

  .rotation {
    input {
      width: 50px;
    }
  }

  .map-origin {
    width: 320px;
  }

  .filename {
    width: 200px;
    border: solid 1px black;
    margin: 5px;
    padding: 2px;
  }
}

div.label {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 3px;
  div {
    font-weight: normal;
    font-style: italic;
  }
}

.topbar {
  display: flex;
  margin: 5px;
  padding: 5px;
  background-color: lightgray;

  .origin .value {
    width: 300px;
  }
}

.label-value {
  margin: 5px 10px;
  display: inline-block;
  label {
    vertical-align: middle;
    font-weight: bold;
  }
  .value {
    vertical-align: middle;
    display: inline-block;
    height: 1.8em;
    width: 50px;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 2px;
  }
}
